
  /* quicksand- uses downloaded fonts*/
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Quicksand-Regular.ttf') format('truetype'),
        url('./fonts/Quicksand-Bold.ttf') format('truetype'),
        url('./fonts/Quicksand-Medium.ttf') format('truetype'),
        url('./fonts/Quicksand-Light.ttf') format('truetype'),
        url('./fonts/Quicksand-SemiBold.ttf') format('truetype');
  }
        
  body {         
      max-width: 500px;
      margin: auto;
      min-width: 320px;
      padding: 0px 10px 0px 10px;
      /* font-family:Arial, Helvetica, sans-serif; */
      font-family: 'Quicksand', sans-serif;
      background-color: #007aff;
      color:white;
  }

  .top2 {
    font-weight: 500;
    font-size: 24px;
    margin-left: 5px;
  }

  h1 {
    display: inline-block;
    color: yellow;
  }

  .inpsty {
    padding-left: 5px;
    flex: 1;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  /* .flex-menu div {
    flex: 1;
  } */

  .flex-btmbtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .droplabel {
    color: yellow;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    /* flex: 2; */
    flex-grow: 2;
    white-space: nowrap;
  }

  .incrbtnrow {
    margin-top: 10px;
    max-height: 55px;
    display: flex;
    /* flex-direction: row; */
  }

  .incread {
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
    /* font-weight: 600; */
    /* background-color: rgb(0, 110, 255); */
  }

  .ylwnum {
    font-weight: 800;
    color: yellow;
    
  }

  .incrbtn {
    flex: 1;
    margin: 0px 4px;
    /* padding: 0px 5px; */
    font-size: 24px;
  }

  .dropdown-content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    border:1px solid white;
    border-radius: 10px;
    font-size: 24px;
    background-color: transparent;
    padding: 5px 0px;
    /* flex-basis: 1; */
    flex-grow: 2;
    /* z-index: 1; */
  } 
  .flexone {
    /* flex-basis: 2; */
    flex-grow: 1;
    min-width: 50px;
  }

  /* .dropdown-content1 {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    border:1px solid white;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    padding: 5px 0px;
    flex-grow:1;
  }  */


  .dropdown-content a {
    text-align: center;
    padding-bottom: 1px;
    text-decoration: none;
  }

  .bottomlinks {
    color: white;
    text-decoration: none;
  }
  .ullinks {
    color: white;
    /* text-decoration: none; */
  }

  .items0 {
    color:white;
  }
  .items1 {
    color: white;
  }

  .dropdown-content a:hover {
    font-weight: 600;
    color: yellow;
    /* background-color: rgb(0, 110, 255); */
  }

  .dropselected {
    font-weight: 600;
    /* font-weight: bold; */
    color:yellow;
    /* background-color: rgb(0, 110, 255); */
  }

  .totalread {
    display: flex;
    justify-content: space-evenly; 
    font-size: 50px;
    padding: 0px 0px 0px 15px;
    color: yellow;
  }

  .centertext {
    display: flex;
    justify-content: space-evenly; 
  }

    button {
    font-weight: 600;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color:white;
    padding: 5px 10px;
    margin: 20px 10px;
    font-size: 18px;
    text-align: center; 
    outline: none;         
  } 

  button:active {
    color:yellow;
    border-color: yellow;
  }

  .btnslower {
    color:white;
    margin: 20px 10px;
    font-size: 18px;
    width: 100px;
  }

  .btn_norm {
    font-size: 18px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0px 10px;
  }
  .btn_sel {
    font-size: 18px;
    color:yellow;
    border-color: yellow;
    flex: 1;
    margin: 0px 10px;
  }

  


