
  /* quicksand- uses downloaded fonts*/
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Quicksand-Regular.ttf') format('truetype'),
        url('./fonts/Quicksand-Bold.ttf') format('truetype'),
        url('./fonts/Quicksand-Medium.ttf') format('truetype'),
        url('./fonts/Quicksand-SemiBold.ttf') format('truetype');
  }
        
  body {         
      max-width: 500px;
      margin: auto;
      min-width: 320px;
      padding: 0px 10px 0px 10px;
      font-family: 'Quicksand', sans-serif;
      /* background-color: rgb(10, 10, 10); */
      background-color: rgb(29, 29, 29);
      /* background-color: rgb(53, 53, 53); */
      color:white;
  }

  .top2 {
    font-weight: 500;
    font-size: 24px;
    margin-left: 5px;
  }

  h1 {
    display: inline-block;
    color: rgb(250, 250, 4);
  }

  .inpsty {
    padding-left: 5px;
    flex: 1;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .flex-btmbtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .droplabel {
    color: rgb(250, 250, 4);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
  }

  .incrbtnrow {
    max-height: 55px;
    display: flex;
  }

  .incread {
    margin-top: 12px;
    font-size: 28px;
    text-align: center;
  }

  .ylwnum {
    /* font-weight: 800; */
    font-weight: bold;
    color: rgb(250, 250, 4);
    /* color: rgb(250, 250, 4); */
    
  }

  .incrbtn {
    flex: 1;
    margin: 0px 4px;
    font-weight: bold;
    font-size: 24px;
  }

  .dropdown-content {
    margin: 5px 2px 0px 2px;
    display: flex;
    flex-direction: column;
    /* border:1px solid white; */
    border:1px solid transparent;
    border-radius: 10px;
    font-size: 24px;
    padding-top: 10px;
    flex: 2;
    background-color: #09568A;
    /* background-color: rgb(10, 10, 10); */
  } 
  .flexone {
    flex: 1;
    min-width: 50px;
  }

  .dropdown-content a {
    text-align: center;
    padding-bottom: 2px;
    text-decoration: none;
  }

  .bottomlinks {
    text-align: center;
  }

  .bottomlinks a {
    margin: 0px 10px 10px;
    /* color: white; */
    color: #007aff;
    text-decoration: none;
  }

  li {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .ullinks {
    color: white;
  }

  .items0 {
    color:white;
  }
  .items1 {
    color: white;
  }

  .dropdown-content a:hover {
    font-weight: 600;
    color: rgb(250, 250, 4);
  }

  .dropselected {
    font-weight: 600;
    color:rgb(250, 250, 4);
  }

  .totalread {
    text-align: center;
    font-size: 50px;
    color: rgb(250, 250, 4);
  }

    button {
    font-weight: 600;
    border-radius: 10px;
    background-color: transparent;
    /* border: 2px solid white;
    color:white; */
    border: 2px solid #007aff;
    color:#007aff;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center; 
    outline: none;         
  } 

  button:active {
    color:rgb(250, 250, 4);
    /* border-color: rgb(250, 250, 4); */
  }

  .btnslower {
    /* color:white; */
    color: #007aff;
    margin: 20px 10px 10px;
    font-size: 18px;
    width: 100px;
    padding: 10px 0px;
  }

  .btn_norm {
    font-size: 18px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0px 10px;
  }

  


